.section {
    padding: 0 var(--main-offset);
    width: 100%;
    margin-bottom: 60px;
}

.btn {
    width: 100%;
    margin-top: 30px;
}

.cardNews {
    width: 100%;
    background: var(--color-container-second);
    margin-top: 20px;
}

.cardNews__cover {
    width: 100%;
    height: calc(100vw - (var(--main-offset) * 2));
}

.cardNews__cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardNews__body {
    position: relative;
    padding: 20px 8px;
}

.cardNews__body::after {
    content: "";
    position: absolute;
    left: 8px;
    top: -36px;
    width: 40px;
    height: 40px;
    background: url('./../../assets/cover_angle.svg') no-repeat;
    background-position: center;
    background-size: contain;
}

.cardNews__body h3 {
    margin: 4px 0 8px 0;
}

.cardNews__body__text {
    font-weight: 500;
    font-size: .85em;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.cardNews__body__date {
    color: var(--color-font-second);
    font-weight: 500;
    font-size: .85em;
}

.modalNews {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modalNews__wrapper {
    width: 90%;
    height: auto;
    background: var(--color-container);
    position: relative;
    padding-bottom: 12px;
}

.btnModal {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 5;
}

.modalNews__header {
    display: flex;
    padding: 0 12px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.date {
    color: var(--color-font-second);
    font-weight: 500;
    font-size: .85em;
}

.modalNews__wrapper h3 {
    padding: 0 12px;
}

.modalNews__body {
    margin-top: 12px;
    width: 100%;
    padding: 0 12px;
    max-height: 120px;
    /* height: 80%; */
    overflow: scroll;
}

.slider .swiper-slide {
    height: 500px !important;
}